@model Apirestaurant.Models.ModelsRestaurant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ModelsRestaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Full_nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Full_nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numeropedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numeropedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detallespedidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detallespedidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Costopedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Costopedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechapedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechapedido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
